server {
#    listen 443 ssl;
#    server_name laniakea.westeurope.cloudapp.azure.com;

#   ssl_certificate /etc/letsencrypt/live/laniakea.westeurope.cloudapp.azure.com/fullchain.pem;
#   ssl_certificate_key /etc/letsencrypt/live/laniakea.westeurope.cloudapp.azure.com/privkey.pem;

    client_max_body_size 2000M;  # Autorise des fichiers jusqu'à 2000 Mo

    # Proxy pour l'application Vue.js
    location / {
        proxy_pass http://127.0.0.1:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Proxy pour FastAPI sur /uploadfile/
    location /uploadfile/ {
        proxy_pass http://127.0.0.1:8000/uploadfile/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
	proxy_buffering off;  # Désactive la mise en cache pour le streaming
	proxy_cache off;
	proxy_read_timeout 600s;  # Timeout de lecture (réponse du backend)
	proxy_send_timeout 600s;  # Timeout d'envoi (envoi des données au backend)
        chunked_transfer_encoding on;
    }

    location /segment_audio/ {
  	proxy_pass http://127.0.0.1:8000/segment_audio/;
  	proxy_set_header Host $host;
  	proxy_set_header X-Real-IP $remote_addr;
    	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    	proxy_set_header X-Forwarded-Proto $scheme;
    	proxy_buffering off;
    }

    location /settings/ {
    	proxy_pass http://127.0.0.1:8000/settings/;  # Remplacez 8000 par le port de votre backend si différent
    	proxy_set_header Host $host;
    	proxy_set_header X-Real-IP $remote_addr;
    	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    	proxy_set_header X-Forwarded-Proto $scheme;
    	proxy_buffering off;
    }

    # WebSocket configuration
    location /streaming_audio/ {
        proxy_pass http://127.0.0.1:8000/streaming_audio/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
	proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_buffering off;
        proxy_read_timeout 86400s;  # Garder la connexion ouverte longtemps
        proxy_send_timeout 86400s;
    }


    # Redirection de la route spécifique /ask_question/ vers FastAPI
    location /ask_question/ {
        proxy_pass http://127.0.0.1:8000/ask_question/;  # Port sur lequel FastAPI/Uvicorn écoute
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
	# Désactive le buffering
	proxy_buffering off;
 	proxy_cache off;
    }


    location /initialize/ {
        proxy_pass http://127.0.0.1:8000/initialize/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /keep_alive/ {
        proxy_pass http://127.0.0.1:8000/keep_alive/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/laniakea.westeurope.cloudapp.azure.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/laniakea.westeurope.cloudapp.azure.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = laniakea.westeurope.cloudapp.azure.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name laniakea.westeurope.cloudapp.azure.com;
    return 404; # managed by Certbot

}
